h1 {
	color: blue;
	text-align: center;
	border-style: single;
	border-width: 4px;
}

body {
	background-color: #5C0099;
	color: #3399FF;
	font-family: Verdana, sans-serif;
	font-size: 25px;
}

h2 {
	display: block;
	margin-left: auto;
	margin-right: auto;
}